@import '../../variables.scss';


.FAQList {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: 0 auto;
  height: 300px;
  & li {
    cursor: pointer;
    border: 1px solid rgba($soft-warm-black, 0.2);
    border-radius: 4px;
    padding-block: 10px;
    & div {
      height: 40px;
      display: flex;
      justify-content: space-between;
      padding-inline: 15px;
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
    & p {
      font-size: 1.4rem;
      line-height: 1.8rem;
      padding-inline: 15px;
    }
  }
}
