@import '../../variables.scss';

.characteristics__card-container {
  display: flex;
  flex-direction: column;
  background-color: $soft-warm-black;
  margin-block-end: 16px;
  padding: 14px 18px 22px;
  border-radius: 4px;
  & h4 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    margin-block: 10px;
  }
  & p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

