
//brand colors
$primary-color: #F7931A;
$secondary-color: #1A9AF7;

$light-color: #e7e5e3;
$gray: #BABABA;
$warm-black: #201E1C;
$soft-warm-black: #282623;

// complementary colors
$complementary-color__orange-soft: #FFE9D4;
$complementary-color__blue-soft: #E7F5FF;

// trending colors
$trending-up-color: #07D635;
$trending-down-color: #F5450D;