@import '../../variables.scss';

.Card-container {
  min-width: 150px;
  text-align:center;
  padding: 30px 20px 24px;
  margin-block: 20px;
  margin-inline: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 8px;
  position: relative;
  & .recommended {
    position: absolute;
    top: -10px;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 8px;
    border-radius: 8px;
    color: #FFF;
    background-color: $primary-color;
  }
  & h4 {
    font-size: 1.6rem;
    line-height: 2rem;
  }
  & .card--price {
    font-size: 5.2rem;
    position: relative;
    display: flex;
    margin: 0;
    & .dollarSign {
      font-size: 1.8rem;
      position: absolute;
      left: -10px;
      top: 15px;
    }
  }
  & .card--description {
    font-size: 1.4rem;
  }
  & .choosePlan-button {
    padding: 15px 40px 15px 15px;
    background-color: $complementary-color__orange-soft;
    border: 2px solid $primary-color;
    border-radius: 4px;
    font-size: 1.6rem;
    position: relative;
    &:hover {
      cursor: pointer;
    }
    & svg {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
    }
  }
}
