@import '../../variables.scss';

.characteristics__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $warm-black;
  color: $light-color;
  padding: 65px 15px 37px;
  & .characteristics__section--title {
    text-align: center;
    font-size: 2.4rem;
    line-height: 2.6rem;
    margin-block-end: 24px;
  }
  & .characteristics__section--paragraph {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin-block-end: 32px;
  }
  & .characteristic__card--List {
    max-width: 600px;
  }
}

