@import '../../variables.scss';

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  margin: 0 auto;
  background-color: $primary-color;
  color: $light-color;
  & ul {
    list-style: none;
    margin-inline-end: 60px;
    padding: 0;
    & li {
      font-size: 1.4rem;
      line-height: 1.8rem;
    }
  }
  & div {
    display: flex;
    flex-direction: column;
    align-items: center;
    & p {
      font-size: 1rem;
      line-height: 1.8rem;
    }
  }
}

