@import '../../variables.scss';

table {
  height: 240px;
  max-width: 250px;
  & .Coins-table__header {
    text-align: left;
    color: $primary-color;
    font-size: 2rem;
    & tr th {
      background-color: #FFF;
      border: 1px solid rgba($soft-warm-black, 0.25);
      border-bottom: 2px solid $primary-color;
      padding: 6px;
      border-radius: 8px;
    }
  }
  & .Commisions-table__header {
    color: $secondary-color;
    font-size: 2rem;
    & tr th {
      background-color: #FFF;
      border: 1px solid rgba($soft-warm-black, 0.25);
      border-bottom: 2px solid $secondary-color;
      padding: 6px;
      border-radius: 8px;
    }
  }
  & tbody {
    font-size: 1.4rem;
    & .table__name {
      font-size: 1.6rem;
    }
  }
  & tfoot {
    font-size: 1.2rem;
    & tr td {
      padding: 8px;
      border-radius: 8px;
    }
    & .Coins-table__footer {
      background-color: $complementary-color__orange-soft;
    }
    & .Commisions-table__footer {
      background-color: $complementary-color__blue-soft;
    }
  }
}